header {
    margin: 0 0;
    width: 100%;
    position: static;
    background-color: #121212;

    nav {

        img {
            height: 100%;
        }

        ul {
            list-style: none;
            display: flex;


            a {
                color: rgba(255, 255, 255, 0.5);
                margin: 0 1em;
                transition: ease-in all .25s;
                text-decoration: none;

                &:hover {
                    color: #FFF;
                    border-bottom: 1px solid #FFF;
                    transition: ease all .3s;
                }
            }
        }

        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}