.objetives {
    margin-top: 5em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .objetivesInfo {
        padding-left: 2em;
    }

    h4 {
        font-size: 2em;
    }

    h2 {
        font-size: 4em;
    }

    p {
        opacity: .7;
    }

    i {
        font-size: 415px;
    }


}