.objetives {
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .objetives .objetivesInfo {
    padding-left: 2em; }
  .objetives h4 {
    font-size: 2em; }
  .objetives h2 {
    font-size: 4em; }
  .objetives p {
    opacity: .7; }
  .objetives i {
    font-size: 415px; }
