header {
  margin: 0 0;
  width: 100%;
  position: static;
  background-color: #121212; }
  header nav {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header nav img {
      height: 100%; }
    header nav ul {
      list-style: none;
      display: flex; }
      header nav ul a {
        color: rgba(255, 255, 255, 0.5);
        margin: 0 1em;
        transition: ease-in all .25s; }
        header nav ul a:hover {
          color: #FFF;
          border-bottom: 1px solid #FFF;
          transition: ease all .3s; }

main {
  overflow: hidden;
  background-color: #000;
  height: 80vh; }
  main .hero {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    main .hero .heroInfo {
      max-width: 38%; }
      main .hero .heroInfo h1 {
        font-size: 3.25rem; }
      main .hero .heroInfo p {
        margin-top: 1em;
        opacity: .8; }
      main .hero .heroInfo button {
        margin-top: 1.25em; }
        main .hero .heroInfo button a {
          color: #000; }
          main .hero .heroInfo button a:hover {
            color: #fff; }
        main .hero .heroInfo button i {
          padding-right: .25em; }
    main .hero .heroImage {
      width: 78%;
      margin-left: 5em;
      position: relative;
      right: -50px; }
      main .hero .heroImage img {
        width: 100%; }

.objetives {
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3em; }
  .objetives .objetivesInfo {
    padding-left: 2em; }
  .objetives h4 {
    font-size: 2em; }
  .objetives h2 {
    font-size: 4em; }
  .objetives p {
    opacity: .7; }
  .objetives i {
    font-size: 415px; }

:root {
  background-color: #141414; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-size: 18px; }

html {
  scroll-behavior: smooth; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.raleway700 {
  font-family: "Raleway", sans-serif;
  font-weight: 700; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.button {
  border: none;
  outline: none;
  border-radius: 50px;
  padding: .5em 1em;
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  transition: all ease .5s; }
  .button:hover {
    cursor: pointer;
    background-color: #000;
    color: #FFF;
    transform: scale(1.1);
    transition: ease all .2s; }
